<section class="l-content-fixed section">
			<header class="section-header">
				<h2 class="section-title">Posts</h2>
				<p class="section-subtitle">投稿一覧</p>
			</header>
			<div class="l-3column">
        <% @posts.each do |post|%>
				<article class="l-column">
						<a href="<%= "/posts#{post.id}"%>">
							<%= image_tag 'image-blog.png', class: "section-item-img" %>
							<p class="section-item-info-title">
								<time datetime="2018-09-04"><%= post.created_at%></time>EVENT
							</p>
							<h3 class="section-item-info">
								<%= link_to(post.content, "/posts/#{post.id}")%>
							</h3>
						</a>
				</article>
        <% end %>
			</div>
</section>

