	<footer class="l-content-expanded footer">
		<div class="l-content-fixed footer-content">
			<p class="footer-copy"><small>&copy; 2023 STON inc.</small></p>
			<p class="footer-totop" id="totop-btn"></p>
		</div>
	</footer>