  <header class="l-content-fixed header">
		<h1 class="header-logo">STON</h1>
		<nav class="nav">
			<ul class="nav-menu">
				<li class="nav-menu-item"><%= link_to("新規登録",signup_path)%></li>
				<li class="nav-menu-item"><%= link_to("ログイン",signup_path)%></li>
				<li class="nav-menu-item"><%= link_to("投稿",posts_new_path)%></li>
				<li class="nav-menu-item"><a class="btn btn_highlighted btn_menuitem" href="contact.html">お問い合わせ</a></li>
			</ul>
		</nav>
	</header>